[Unit]
Description=TPM2 SSH agent

[Service]
EnvironmentFile=/etc/default/tpm2-ssh-agent
ExecStart=/usr/bin/tpm2-ssh-agent -f $OPTS
Type=simple

[Install]
WantedBy=default.target
